.op-02 {
    opacity: 0.2;
}

.op-04 {
    opacity: 0.4;
}

.fs-12 {
    font-size: 12px;
}

.fs-8 {
    font-size: 14px;
}

.fs-7 {
    font-size: 14.5px;
}

.faded-hr {
    border: none !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}
